<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block title %}
    <title>室内障碍物检测系统</title>
    {% endblock title %}

    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/admin-lte/3.0.2/css/adminlte.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">
    {% block css %}
    {% endblock css %}
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% block body %}

        <!-- 顶部导航栏 -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="height: 50px;">
            <!-- 一级菜单导航 -->
            <ul class="navbar-nav">
                <!-- 侧边栏状态切换按钮 -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <!-- 快速导航链接 -->
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{% url 'index' %}" class="nav-link">首页</a>
                </li>
            </ul>

            <div class="ml-auto">
                <span class="mr-2">欢迎您, <strong>{{user.username}}</strong></span>
                <a href="{% url 'logout' %}"><span class="badge bg-danger">注销</span></a>
            </div>
        </nav>
        <!-- /.navbar -->

        <!-- 左侧边栏 -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- 顶部品牌标志 -->
            <a href="{% url 'index' %}" class="brand-link ml-2">
                <span class="brand-text font-weight-light">控制面板</span>
            </a>

            <!-- 侧边栏导航 -->
            <nav class="sidebar mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>首页</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'device_list' %}" class="nav-link">
                            <i class="nav-icon fas fa-tools"></i>
                            <p>设备管理</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logs' %}" class="nav-link">
                            <i class="nav-icon fas fa-file"></i>
                            <p>日志列表</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/auth/user/" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>用户管理</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->

        </aside>

        <!-- 主内容区 -->
        <div class="content-wrapper">
            <!-- 内容标题 -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            {% block content_header %}
                            <h1>首页</h1>
                            {% endblock content_header %}
                        </div>
                        <div class="col-sm-6">
                            <!-- 面包屑导航 -->
                            <ol class="breadcrumb float-sm-right">
                                {% block breadcrumb %}
                                <!-- <li class="breadcrumb-item active"><a href="#">首页</a></li> -->
                                {% endblock breadcrumb %}
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Main content -->
            <section class="content">
                {% block content %}
                <!-- 卡片式布局 -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Title</h3>
                    </div>
                    <div class="card-body">
                        Start creating your amazing application!
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        Footer
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
                {% endblock content %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        {% block footer %}
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2020.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 2020.4.12
            </div>
        </footer>
        {% endblock footer %}

        {% endblock body %}
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcss.com/admin-lte/3.0.2/js/adminlte.min.js"></script>
    <script src="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.js"></script>
    {% block js %}
    {% endblock js %}
</body>

</html>
