{% extends "base_detail.html" %}
{% load static %}

{% block title %}
<title>日志 - 超声波室内障碍物检测系统</title>
{% endblock title %}

{% block css %}
<link href="https://cdn.bootcss.com/jsgrid/1.5.3/jsgrid.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jsgrid/1.5.3/jsgrid-theme.min.css" rel="stylesheet">
<style>
    .chart {
        height: 350px;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }
</style>
{% endblock css %}

{% block brandtext %}
<span class="brand-text font-weight-light">日志 - 障碍物检测控制面板</span>
{% endblock brandtext %}


{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header" class="h5">
            <span style="float:left; line-height:40px;" class="ml-2">
                <b>设备编号：</b>
                <a>{{device.device_id}}</a>
            </span>
            <span style="float:left; line-height:40px;" class="ml-2">
                <b>监管区域：</b>
                <a href="{% url 'device_detail' device.device_id %}">{{device.device_name}}</a>
            </span>
            <span style="float:right; line-height:40px;" class="ml-2">
                <b>类型：</b>
                <select id="type" onchange="forTimeType()">
                    <option value="unlimited">全部类型</option>
                    <option value="info">信息</option>
                    <option value="warning">警告</option>
                    <option value="purpose">提示</option>
                    <option value="error">错误</option>
                </select>
            </span>
            <span style="float:right; line-height:40px;" class="ml-2">
                <b> 时间：</b>
                <select id="time" onchange="forTimeType()">
                    <option value="unlimited">不限时间</option>
                    <option value="10">10分钟内</option>
                    <option value="30">30分钟内</option>
                    <option value="60">1小时以内</option>
                    <option value="120">2小时以内</option>
                </select>
            </span>
        </div>
        <!---->
        <div class="card-body">
            <!--<div>
            </div>-->
            <div class="table-head table-responsive p-0">
                <table class="table table-striped table-sm">
                    <thead><tr>
                        <th width='10%'>#</th>
                        <th width='15%'>类型</th>
                        <th width='35%'>时间</th>  
                        <th width='40%'>日志内容</th></tr>
                    </thead>
                </table>
            </div>
            <div class="table-body table-responsive p-0" style="height: 530px;">
                <table id="logs_table" class="table table-striped table-sm">
                    <tbody>
                           <!--{% for log in device_logs %}
                        <tr>
                            <td width='10%'>{{forloop.counter}}</td>
                            <td width='15%'>
                                {% if log.level == 'info' %}
                                <span class="badge badge-info">{{log.get_level_display}}</span>
                                {% elif log.level == 'purpose' %}
                                <span class="badge badge-success">{{log.get_level_display}}</span>
                                {% elif log.level == 'warning' %}
                                <span class="badge badge-warning">{{log.get_level_display}}</span>
                                {% elif log.level == 'error' %}
                                <span class="badge badge-danger">{{log.get_level_display}}</span>
                                {% else %}
                                <span class="badge badge-secondary">{{log.get_level_display}}</span>
                                {% endif %}
                            </td>
                            <td width='35%'>{{log.time | date:"Y/m/d H:i:s"}}</td>
                            <td width='40%'>{{log.message}}</td>
                        </tr>
                        {% endfor %}-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'server/csrf.js' %}"></script>
<script>
    deviceid={{device.device_id}}
    time_limit="unlimited" 
    type_limit="unlimited"
    months=[31,29,31,30,31,30,31,31,30,31,30,31]

    String.prototype.format = function (param) {
         var reg = /{([^{}]+)}/gm;
         return this.replace(reg, function (match, name) {
             return param[name];
         });
    }; 

    function createTable() {
        row_templ = '<tr><td width="10%">{counter}</td><td width="15%"><span class="{class}">{level}</span></td><td width="35%">{time}</td><td width="40%">{message}</td></tr>';
        paramsName=['counter', 'class', 'level', 'time', 'message'];
       
        hostname = window.location.hostname
        Url = `http://${hostname}:8000/api/log/?deviceid=${deviceid}`;
        fillTable();
    }
    function forTimeType(){
        time_limit = document.getElementById("time").value; 
        type_limit = document.getElementById("type").value;
        updateTable();
    }
    function fillTable() {
        updateTable();
        setInterval(updateTable, 2000)
    }
    function withinTime(cMonth,cDate,cTime,month,date,Time, limit) {
        for(var i=0; i< cMonth-1;i++)
            cTime+=months[i]*24*60;
        cTime+=(cDate-1)*24*60;
        for(var i=0; i< month-1;i++)
            Time+=months[i]*24*60;
        Time+=(date-1)*24*60;
        //console.log(cTime, Time, limit,cTime-parseInt(limit));
        if(Time>(cTime-parseInt(limit))) 
            return true;
        else return false;
    }
    function updateTable() {
        $.get(Url, response => {
            //console.log(response);
            $("#logs_table"+" tr").remove();
            count = 1;
            var myDate = new Date();
            cMonth=myDate.getMonth()+1;cDate=myDate.getDate();
            cHour=myDate.getHours()+15;cMinute=myDate.getMinutes();
            cSecond=myDate.getSeconds();
            cTime=cHour*60+cMinute+cSecond/60;
            //console.log(cYear,cMonth+1,cDate,cHour,cMinute,cSecond);
            for (var j = response.length-1; j >= 0; j--) {
                time = response[j].time.substring(0,19);
                 
                if(time_limit!="unlimited" || type_limit!="unlimited") {
                    if(type_limit!="unlimited"&&response[j].level!=type_limit)
                        continue;
		    if(time_limit!="unlimited"){
                        month=parseInt(time.substring(5,7));date=parseInt(time.substring(8,10));
                        hour=parseInt(time.substring(11,13));minute=parseInt(time.substring(14,16)); 
                        second=parseInt(time.substring(17,19));
                        Time=hour*60+minute+second/60;
                        out=withinTime(cMonth,cDate,cTime,month,date,Time,time_limit);
                        if(out==false) continue;
                    }
                }
                var formatParams = {};
                formatParams[paramsName[0]]=count; count+=1;
                if(response[j].level=="info") {
                    formatParams[paramsName[1]]="badge badge-info";
                    formatParams[paramsName[2]]="信息";
                }
                else if(response[j].level=="warning") {
                   formatParams[paramsName[1]]="badge badge-warning";
                   formatParams[paramsName[2]]="警告";
                }
                else if(response[j].level=="purpose") {
                   formatParams[paramsName[1]]="badge badge-success";
                   formatParams[paramsName[2]]="提示";
                }
                else if(response[j].level=="error") {
                   formatParams[paramsName[1]]="badge badge-danger";
                   formatParams[paramsName[2]]="错误";
                }
                formatParams[paramsName[3]]=time.replace('T',' ');
                formatParams[paramsName[4]]=response[j].message;
                //console.log(formatParams);
                var row = row_templ.format(formatParams);
                //console.log(row);
                $("#logs_table"+" tbody:last").append(row);
            }
        });
    }
    createTable();

</script>

<!--script>
    function setfresh() {
        $("#logs_table").load(location.href + " #logs_table"); 
        /*
        var storeId = document.getElementById('logs_table');
        var rowsLength = storeId.rows.length;
        var key = document.getElementById("type").value;//获取输入框的值
        console.log(key);
        var searchCol = 1;//要搜索的哪一列，这里是第一列，从0开始数起
        for(var i=0;i<rowsLength;i++){
            var searchText = storeId.rows[i].cells[searchCol].innerHTML;
            if(searchText.match(key)){
                storeId.rows[i].style.display='';//显示行操作，
            }else{
                storeId.rows[i].style.display='none';//隐藏行操作
            }
        }
        console.log('here');
        */
    }
    setInterval(setfresh, 3000)
</script-->  

<!--script>
    deviceid={{device.device_id}}
    function forTime() {
        time = document.getElementById("time").value;       
    }
</script-->

{% endblock js %}

